name: Compiled CI

# Controls when the action will run.
on:
  # Build at 00:00 every 6th day
  schedule:
    - cron: "0 0 */6 * *"
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
    paths-ignore: [ '**/README.md' ]
  pull_request:
    branches: [ main ]
    paths-ignore: [ '**/README.md' ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      - name: Make AppImage
        run: |
          echo $PATH
          sudo apt-get update && sudo apt-get upgrade -y
          sudo apt-get install desktop-file-utils \
           bison \
           docutils-common \
           flex \
           gettext \
           git \
           gnutls-bin \
           libaio-dev \
           libbluetooth-dev \
           libbrlapi-dev \
           libbz2-dev \
           libcap-ng-dev \
           libcapstone-dev \
           libcurl4-gnutls-dev \
           libfdt-dev \
           libglib2.0-dev \
           libgnutls28-dev \
           libgtk-3-dev \
           libibverbs-dev \
           libiscsi-dev \
           libiscsi7 \
           libjpeg8-dev \
           liblzo2-dev \
           libncurses5-dev \
           libnfs* \
           libnuma-dev \
           libpciaccess-dev \
           libpciaccess0 \
           libpixman-1-0 \
           libpixman-1-dev \
           librbd-dev \
           librdmacm-dev \
           libsasl2-dev \
           libsdl2-dev \
           libseccomp-dev \
           libslirp-dev \
           libslirp0 \
           libsnappy-dev \
           libspice-protocol-dev \
           libspice-server-dev \
           libspice-server1 \
           libssh-dev \
           libusb* \
           libvde-dev \
           libvdeplug-dev \
           libvirglrenderer-dev \
           libvirglrenderer1 \
           libvte-2.91-dev \
           libxen-dev \
           libxml2-dev \
           libxml2-utils \
           libyajl-dev \
           libyajl2 \
           libzstd-dev \
           libzstd1 \
           ninja-build \
           pip \
           pkg-config \
           python3-venv \
           slirp* \
           valgrind \
           virgl-server \
           xfslibs-dev \
           xsltproc \
           zlib1g-dev
          wget -q "https://github.com/linuxdeploy/linuxdeploy/releases/download/continuous/linuxdeploy-x86_64.AppImage" -O linuxdeploy ; chmod a+x linuxdeploy
          wget -q "https://github.com/AppImage/appimagetool/releases/download/continuous/appimagetool-x86_64.AppImage" -O appimagetool ; chmod a+x appimagetool
          sudo pip3 install meson
          wget -c -q "https://download.gnome.org/sources/glib/2.80/glib-2.80.2.tar.xz"
          tar -xf glib-2.80.2.tar.xz
          cd glib-2.80.2
          meson setup _build
          meson compile -C _build
          sudo meson install -C _build
          mkdir -p lucas/usr/lib/
          mkdir -p lucas/usr/share/
          cp -r /usr/share/mime/ lucas/usr/share/
          git clone https://gitlab.com/qemu-project/qemu.git
          cd qemu
          git submodule init
          git submodule update --recursive
          ./configure --disable-docs \
           --enable-alsa \
           --enable-gio \
           --enable-gnutls \
           --enable-gtk \
           --enable-gtk-clipboard \
           --enable-guest-agent \
           --enable-kvm \
           --enable-libssh \
           --enable-libudev \
           --enable-libusb \
           --enable-modules \
           --enable-nettle \
           --enable-opengl \
           --enable-pa \
           --enable-pixman \
           --enable-sdl \
           --enable-slirp \
           --enable-slirp-smbd \
           --enable-spice \
           --enable-spice-protocol \
           --enable-system \
           --enable-user \
           --enable-virglrenderer \
           --prefix=${GITHUB_WORKSPACE}/lucas/usr/
          make
          make install
          cd ${GITHUB_WORKSPACE}
          cp -f AppRun ${GITHUB_WORKSPACE}/lucas/
          cp -f qemu.desktop ${GITHUB_WORKSPACE}/lucas/
          cp -f qemu_logo_no_text.svg ${GITHUB_WORKSPACE}/lucas/
          cp -f libunionpreload.so ${GITHUB_WORKSPACE}/lucas/
          find -name 'linuxdeploy**' -type f -exec {} --appdir ${GITHUB_WORKSPACE}/lucas/ \;
          cd ${GITHUB_WORKSPACE} && cp qemu.desktop lucas/ && find lucas/ -depth -iname 'libglib-2.0.so.0' -type f -delete
          find ${GITHUB_WORKSPACE}/lucas/usr/bin/ -type f | xargs strip
          find ${GITHUB_WORKSPACE}/lucas/usr/libexec/ -type f | xargs strip
          find ${GITHUB_WORKSPACE}/usr/lib/x86_64-linux-gnu/qemu/ -type f | xargs strip
          ARCH=x86_64 VERSION=git find -name 'appimagetool**' -type f -exec {} ${GITHUB_WORKSPACE}/lucas/ \;
          mkdir dist
          mv *.AppImage* dist/

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: AppImage
          path: 'dist/*.AppImage*'

      - name: Upload version artifact
        uses: actions/upload-artifact@v4
        with:
          name: version
          path: 'dist/version'

  release:
    needs: [build]
    permissions:
      contents: write
    runs-on: ubuntu-latest

    steps:
      - name: Download AppImage artifact
        uses: actions/download-artifact@v4
        with:
          name: AppImage

      - name: Download version artifact
        uses: actions/download-artifact@v4
        with:
          name: version

      - name: Read version
        id: version
        run: echo "APP_VERSION=$(cat version)" >> $GITHUB_ENV

      - name: Delete Previous Release
        run: |
          gh release delete "${APP_VERSION}" --repo "${GITHUB_REPOSITORY}" --cleanup-tag -y || echo "No release to delete"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        continue-on-error: true

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          name: "Continuous build"
          tag_name: continuous-stable
          prerelease: false
          draft: false
          generate_release_notes: false
          make_latest: true
          files: |
            *.AppImage*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
